.Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    height: 250px;
    width: 280px;
}

.Box h3 {
    text-align: center;
    margin-bottom: 20px;
}

.Box img {
    width: 200px;
    height: 250px;
}