*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.opcoes li {
  list-style: none;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  
}

.opcoes li {
  margin-right: 10px;
}